#   SeaORM database connection string.
#   See https://www.sea-ql.org/SeaORM/docs/1.1.x/install-and-config/connection/ for more information.
MIGRATION_DATABASE=protocol://username:password@host/database